* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #000000;
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  position: relative;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}

/* Navbar */

.navbar {
  background-color: #000000;
  position: fixed;
  min-width: 260px;
  width: 100%;
  z-index: 1;
}

.navbar-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.navbar-brand {
  align-items: center;
  display: inline-flex;
  text-decoration: none;
}

.navbar-brand > img {
  max-width: 5rem;
}

.navbar-brand > span {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.navbar-list {
  display: none;
  list-style-type: none;
  margin-right: 1rem;
}

.nav-item {
  display: inline-block;
  margin: 10px 15px;
}

.nav-item > a {
  color: #b0b0b0;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.nav-item > a:hover {
  color: #878787;
}

.active {
  color: #fff !important;
}

.nav-item .resume-link {
  border: #228dff 0.125em solid;
  border-radius: 0.25em;
  color: #228dff;
  padding: 5px 10px;
}

.nav-item .resume-link:hover {
  background: #228dff;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.navbar-menu {
  display: block;
  width: 1.5rem;
  margin-right: 1.5rem;
}

.navbar-menu > svg {
  fill: #fff;
}

.navbar-menu-overlay {
  background-color: #fff;
  display: block;
  height: 100%;
  position: fixed;
  width: 100%;

  animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}

.overlay-item {
  position: relative;
  text-align: center;
  top: 20%;
}

.overlay-item > a:hover {
  color: #878787;
}

.overlay-item .resume-link {
  color: #228dff;
}

.overlay-active {
  color: #000000 !important;
}

.overlay-item > a {
  color: #b0b0b0;
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition: 0.3s;
}

.menu-inactive {
  display: none;
}

/* Sidebar */

.social-sidebar {
  display: none;
  position: absolute;
  top: 25%;
}

.sidebar-logo {
  display: block;
  margin: 25px 10px;
}

.sidebar-logo > svg {
  height: 35px;
  width: 35px;
  overflow: visible;
}

.sidebar-logo > svg > path {
  fill: #fff;
  stroke: #fff;
}

.sidebar-logo:hover > svg > path {
  fill: #228dff;
  stroke: #228dff;

  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Introduction */

#intro {
  min-height: 600px;
  position: relative;
}

.intro-content {
  margin: 0 1rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-40%);
}

.top-text {
  color: #fff;
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 100%;
  padding: 20px 0;
}

.middle-text {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 150%;
  padding: 20px 0;
}

.blue-text {
  color: #228dff;
}

.bottom-text {
  color: #777778;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 200%;
  margin: auto;
  padding: 20px 0;
}

.btn-container {
  margin: 2rem auto;
  padding: 20px 0px;
}

.contact-btn {
  border: #228dff 0.125em solid;
  border-radius: 0.25em;
  color: #228dff;
  font-size: 1rem;
  padding: 0.5em 1em;
  text-decoration: none;
}

.contact-btn:hover {
  background: #228dff;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.neon-intro-container {
  bottom: 0;
  display: none;
  height: auto;
  max-width: 1420px;
  position: absolute;
  right: 0;
  width: 62%;
}

#neon-line-intro {
  width: 100%;
  height: auto;
}

#neon-line-intro > g > polyline {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
  stroke-dasharray: 4650;
  stroke-dashoffset: 4650;

  filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 3px #cce6ff)
    drop-shadow(0px 0px 10px #4da6ff) drop-shadow(0px 0px 30px #228dff)
    drop-shadow(0px 0px 50px #228dff);
}

/* About */

#about {
  height: fit-content;
  position: relative;
}

.about-content {
  margin: 0 auto 0;
  max-width: 80rem;
  padding-top: 6rem;
  width: 92%;
}

.my-portrait {
  display: block;
  height: 11rem;
  margin: 0 auto 1rem;
  width: 11rem;
}

.about-content-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.about-text {
  color: #878787;
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1.25px;
  line-height: 150%;
  margin: 1rem auto;
  text-align: left;
  width: 100%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill-item {
  border: 2px solid #228dff;
  border-radius: 10px;
  color: #fff;
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.neon-about-container {
  display: none;
  height: auto;
  margin: 0 auto;
  max-width: 3000px;
  width: 100%;
}

#neon-line-about > g > polyline {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;

  filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 3px #cce6ff)
    drop-shadow(0px 0px 5px #4da6ff) drop-shadow(0px 0px 10px #228dff)
    drop-shadow(0px 0px 15px #228dff);
}

/* Portfolio */

#portfolio {
  height: fit-content;
  position: relative;
}

.portfolio-content {
  margin: 0 auto;
  max-width: 70rem;
  padding-top: 5rem;
  width: 92%;
}

.portfolio-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: 95%;
  justify-content: center;
}

.portfolio-item {
  border-radius: 15px;
  height: 15rem;
  position: relative;
}

.description-box {
  border-radius: inherit;
  height: inherit;
  position: absolute;
  text-align: center;
  transition: all 0.5s ease-in;
  top: 0%;
  width: 100%;
}
.description-box h2 {
  color: #fff;
  display: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin: 2rem;
}
.description-box a {
  border: #228dff 0.125rem solid;
  border-radius: 1rem;
  color: #228dff;
  display: none;
  font-size: 1rem;
  margin: 0 4rem 1rem;
  text-decoration: none;
}
.description-box:hover {
  background-color: #000;
  border: px solid #228dff;
  box-shadow: 0 0 0.5rem 0.05rem #228dff;
  display: block;
  transition: all 0.5s ease-out;
}
.description-box:hover h2 {
  display: block;
}
.description-box:hover a {
  display: block;
}
.description-box a:hover {
  background-color: #228dff;
  color: #fff;
}

.item-1 {
  border-radius: inherit;
  height: inherit;
  position: absolute;
  width: 100%;
}

.item-2 {
  background-color: #fff;
  border-radius: inherit;
  height: inherit;
  position: absolute;
  width: 100%;
}

.soon-text {
  position: relative;
  top: 30%;
}

/* Contact */

#contact {
  min-height: 675px;
  position: relative;
}

.contact-content {
  margin: 0 auto;
  max-width: 140rem;
  padding-top: 5rem;
  text-align: center;
  width: 92%;
}

.contact-text {
  color: #fff;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  margin: 0 auto 2rem;
}

.form-item {
  border: 2px solid #000;
  border-radius: 10px;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
  margin: 1rem auto;
  min-width: 80%;
  padding: 0.5rem;
}

.form-item:hover {
  border: 2px solid #228dff;
  box-shadow: 0 0 0.5rem 0.05rem #228dff;
}

.form-item:focus {
  border: 2px solid #228dff;
  box-shadow: 0 0 1rem 0.25rem #228dff;
  outline: none;
}

.btn-content {
  margin: 0 auto;
  width: 80%;
}

.btn {
  background-color: transparent;
  border: 2px solid #228dff;
  border-radius: 0.25rem;
  color: #228dff;
  display: block;
  font-family: "Orbitron", sans-serif;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
}

.btn:hover {
  background: #228dff;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.footer-content {
  background-color: #000;
  bottom: 0;
  position: absolute;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.social-content {
  margin-bottom: 20px;
}

.social-logo {
  margin: 0 10px;
  text-decoration: none;
}

.social-logo > svg {
  height: 35px;
  width: 35px;
}

.social-logo > svg > path {
  fill: #fff;
  stroke: #fff;
}

.copyright {
  color: #fff;
  font-size: 0.6rem;
  letter-spacing: 2px;
}

/* General */

.section-header {
  color: #fff;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 5px;
  justify-content: center;
  padding-top: 2rem;
}

.header-line {
  border: 1px groove #228dff;
  box-shadow: 0 0 0.8rem 0.2rem #228dff;
  margin: 0.5rem auto 2rem auto;
  width: 5rem;
}

.animate {
  animation: draw 5s forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* Screen Breakpoint */

@media only screen and (min-width: 20em) {
  .portfolio-grid {
    grid-template-columns: 300px;
  }

  .description-box a {
    margin: 0 6rem 1rem;
  }

  .form-item {
    margin: 2rem auto;
  }
}

@media only screen and (min-width: 30em) {
  .top-text {
    font-size: 2.3rem;
  }

  .bottom-text {
    max-width: 25rem;
  }
  
}

@media only screen and (min-width: 50em) {
  html, body {
    font-size: 18px;
  }

  .navbar-list {
    display: block;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu-overlay {
    display: none;
  }

  .social-sidebar {
    display: block;
  }

  #intro {
    min-height: 800px;
  }

  .intro-content {
    left: 10%;
    margin: auto 1.5rem;
    text-align: left;
    top: 25%;
    transform: translateY(0);
  }

  .top-text {
    margin: 0;
  }

  .middle-text {
    margin: 1rem 0;
    max-width: 16rem;
  }

  .bottom-text {
    margin: 0;
    max-width: 14rem;
  }

  .btn-container {
    margin: 2rem 0;
  }

  .neon-intro-container {
    display: block;
    width: 70%;
  }

  .about-content-grid {
    grid-template-columns: 1fr 0.2fr 1fr;
  }

  .neon-about-container {
    display: block;
  }

  #portfolio {
    height: 100vh;
  }

  .portfolio-grid {
    grid-template-columns: 350px 350px;
  }

  #contact {
    min-height: 800px;
  }

  .form-item {
    min-width: 600px;
  }

  .btn-content {
    width: 600px;
  }

  .social-logo {
    margin: 0 20px;
    text-decoration: none;
  }

  .section-header {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 64em) {
  html, body {
    font-size: 20px;
  }

  .portfolio-grid {
    grid-template-columns: 400px 400px;
  }

}

@media only screen and (min-width: 80em) {
  .middle-text {
    max-width: fit-content;
  }

  .bottom-text {
    max-width: 33rem;
  }

  .neon-intro-container {
    width: 62%;
  }

  .portfolio-grid {
    grid-template-columns: 400px 400px 400px;
  }
}
